<div>
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <h1>Registration</h1>

            <div class="alert alert-success" [hidden]="!success" id="successMessage">
                <strong>Registration saved!</strong> Go to the <a [routerLink]=" ['/'] ">Login page</a> to sign in.
            </div>

            <div class="alert alert-danger" [hidden]="!error" id="failedMessage">
                <strong>Registration failed!</strong> Please try again later.
            </div>

            <div class="alert alert-danger" [hidden]="!errorUserExists" id="loginExistsMessage">
                <strong>Login name already registered!</strong> Please choose another one.
            </div>

            <div class="alert alert-danger" [hidden]="!errorEmailExists" id="emailExistsMessage">
                <strong>E-mail is already in use!</strong> Please choose another one.
            </div>

            <div class="alert alert-danger" [hidden]="!doNotMatch" id="passwordMismatchMessage">
                The password and its confirmation do not match!
            </div>
        </div>
        <div class="col-md-8 col-md-offset-2">
            <form [hidden]="success" name="form" role="form" #registerForm="ngForm" novalidate (ngSubmit)="register()">

                <div class="form-group">
                    <label class="control-label" for="login" >Username</label>
                    <input type="text" class="form-control" id="login" name="login" placeholder="Your username"
                           [(ngModel)]="registerAccount.login" #login="ngModel"
                           minlength="2" maxlength="50" required pattern="^[a-z0-9]*$">
                    <div *ngIf="login.errors && (login.dirty || login.touched)" id="usernameDirtyMessage">
                        <p class="alert alert-danger" *ngIf="login.errors.required">
                            Your username is required.
                        </p>
                        <p class="alert alert-danger" *ngIf="login.errors.minlength" >
                            Your username is required to be at least 2 characters.
                        </p>
                        <p class="alert alert-danger" *ngIf="login.errors.maxlength" >
                            Your username cannot be longer than 50 characters.
                        </p>
                        <p class="alert alert-danger" *ngIf="login.errors.pattern" >
                            Your username can only contain lower-case letters and digits.
                        </p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="email">E-mail</label>
                    <input type="email" class="form-control" id="email" name="email" placeholder="Your e-mail"
                           [(ngModel)]="registerAccount.email" #email="ngModel"
                           minlength="5" maxlength="100" required pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$">
                    <div *ngIf="email.errors && (email.dirty || email.touched)" id="emailDirtyMessage">
                        <p class="alert alert-danger"
                               [hidden]="!email.errors.required" >
                            Your e-mail is required.
                        </p>
                        <p class="alert alert-danger"
                               [hidden]="!email.errors.email" >
                            Your e-mail is invalid.
                        </p>
                        <p class="alert alert-danger"
                               [hidden]="!email.errors.minlength" >
                            Your e-mail is required to be at least 5 characters.
                        </p>
                        <p class="alert alert-danger"
                               [hidden]="!email.errors.maxlength" >
                            Your e-mail cannot be longer than 100 characters.
                        </p>
                        <p class="alert alert-danger"
                           [hidden]="!email.errors.pattern" >
                            Your e-mail is invalid.
                        </p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="password" >New password</label>
                    <input type="password" class="form-control" id="password" name="password" placeholder="New password"
                           [(ngModel)]="registerAccount.password" #password="ngModel" 
                           minlength="5" maxlength="50" required>
                    <div *ngIf="password.errors && (password.dirty || password.touched)" id="passwordDirtyMessage">
                        <p class="alert alert-danger"
                               [hidden]="!password.errors.required" >
                            Your password is required.
                        </p>
                        <p class="alert alert-danger"
                               [hidden]="!password.errors.minlength" >
                            Your password is required to be at least 5 characters.
                        </p>
                        <p class="alert alert-danger"
                               [hidden]="!password.errors.maxlength" >
                            Your password cannot be longer than 50 characters.
                        </p>
                    </div>
                    <ng2-password-strength-bar [passwordToCheck]="registerAccount.password" [barLabel]="barLabel"></ng2-password-strength-bar>
                </div>
                <div class="form-group">
                    <label class="control-label" for="confirmPassword" >New password confirmation</label>
                    <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" placeholder="Confirm the new password"
                           [(ngModel)]="registerAccount.confirmPassword" #confirmPassword="ngModel"
                           minlength="5" maxlength="50" required>
                    <div *ngIf="confirmPassword.errors && (confirmPassword.dirty || confirmPassword.touched)" id="confirmPasswordDirtyMessage">
                        <p class="alert alert-danger"
                               [hidden]="!confirmPassword.errors.required" >
                            Your confirmation password is required.
                        </p>
                        <p class="alert alert-danger"
                               [hidden]="!confirmPassword.errors.minlength" >
                            Your confirmation password is required to be at least 5 characters.
                        </p>
                        <p class="alert alert-danger"
                               [hidden]="!confirmPassword.errors.maxlength" >
                            Your confirmation password cannot be longer than 50 characters.
                        </p>
                    </div>
                </div>
                <button type="submit" [disabled]="!registerForm.form.valid" class="btn btn-primary" id="registerButton">Register</button>
            </form>
        </div>
    </div>
</div>
