<div>
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <form (ngSubmit)="submit()" method="post" role="form" class="form-horizontal">
                <div class="form-group">
                    <label for="type" class="col-sm-2 control-label">Data Type:</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="type" name="type"
                               [(ngModel)]="entry.type" #type="ngModel"
                               minlength="2" maxlength="50" required/>
                    </div>
                </div>
                <div class="form-group">
                    <label for="value" class="col-sm-2 control-label">Data Value:</label>
                    <div class="col-sm-10">
                        <input type="number" class="form-control" id="value" name="value"
                               [(ngModel)]="entry.value" #value="ngModel"
                               step="0.01" required/>
                    </div>
                </div>
                <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-primary" id="addentry">Add Entry</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

