<div class="panel panel-default">
    <log-alert #LogAlert></log-alert>
    <div class="panel-body">
        <div class="col-md-4 pull-right">
            <form role="form" name="form">
                <div class="form-group">
                    <div class="input-group">
                        <input type="text" class="form-control" [(ngModel)]="searchTerm" placeholder="Search..."
                               name="searchTerm" (keyup.enter)="ok()">
                        <span class="input-group-btn">
                                <button class="btn btn-default" type="button" (click)="clearSearchTerm()"
                                        [disabled]="searchTerm.length === 0" id="removeButton" name="removeButton">
                                    <span id="searchclear" class="glyphicon glyphicon-remove-circle"></span>
                                </button>
                            </span>
                        <span class="input-group-btn">
                                <button class="btn btn-default" type="button" (click)="ok()"
                                        [disabled]="searchTerm === currentSearchTerm" id="searchButton" name="searchButton">
                                    <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                                </button>
                        </span>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <ngb-tabset>
        <ngb-tab>
            <ng-template ngbTabTitle id="chart">
                <strong>Chart</strong>
            </ng-template>
            <ng-template ngbTabContent>
                <div class="panel panel-default">
                    <div class="panel-body">
                        <chart [options]="chartOptions"  (load)="saveInstance($event.context)"></chart>
                    </div>
                </div>
            </ng-template>
        </ngb-tab>
        <ngb-tab>
            <ng-template ngbTabTitle id="table">
                <strong>Table</strong>
            </ng-template>
            <ng-template ngbTabContent>
                <div class="panel panel-default">
                    <div class="panel-body">
                        <table class="table table-bordered">
                            <th>Type</th>
                            <th>Value</th>
                            <th>Time stamp</th>
                                <tr *ngFor="let d of data" >
                                    <td>{{d.type}}</td>
                                    <td>{{d.value}}</td>
                                    <td>{{d.createdDateTime}}</td>
                                </tr>
                        </table>
                    </div>
                </div>
            </ng-template>
        </ngb-tab>
    </ngb-tabset>
</div>
